# EditorConfig helps maintain consistent coding styles across various editors and IDEs
# https://editorconfig.org

# Top-most EditorConfig file
root = true

# All files
[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

# Java files
[*.java]
indent_style = space
indent_size = 4
max_line_length = 120

# XML files (POM, config files)
[*.{xml,pom}]
indent_style = space
indent_size = 4

# Markdown files
[*.md]
trim_trailing_whitespace = false
max_line_length = off

